# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=tech_challenge_fiap

# MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_HOST=localhost:27017
MONGO_DB=tech_challenge_fiap

# JWT
JWT_SECRET=dev-secret

# Email (SMTP)
EMAIL_HOST=smtp.server.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password
EMAIL_FROM=your_email@example.com

# AWS SQS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SQS_OS_EVENTS_QUEUE_URL=
SQS_BILLING_EVENTS_QUEUE_URL=
SQS_EXECUTION_EVENTS_QUEUE_URL=
SQS_ENDPOINT=

# Service
SERVICE_NAME=os-service
PORT=3000
